# Options:
#  chef-essentials
#  chef-essentials-windows WARNING: This class is only supported using the internal Training AWS Account
#  chef-intermediate
#  test_driven_cookbook_development
class_type: 'test_driven_cookbook_development'

company_name: 'Example Company'

terraform_variables:
  provider:
    aws:
      region: 'us-east-1'
      profile: 'default'
  tags:
    X-Dept: 'Success Engineering'
    X-Contact: 'someone@chef.io'

students:
  - ['Jane Smith', 'jane.smith@example.com']
  - ['John Smith', 'john.smith@example.com']

# NOTE: AMIs are region specific
classroom_data:
  chef-essentials:
    ami: 'ami-4c6a0d5b'
  chef-essentials-windows:
    workstation-ami: 'ami-4a6da55c'
    node-ami: 'ami-4a80ac20'
  chef-intermediate:
    ami: 'ami-48ecb65f'
  test_driven_cookbook_development:
    ami: 'ami-3f224d28'
